main {
    display: flex;
    flex-flow: column;
}

main div, button {
    padding-bottom: 0.5rem;
}

input[type=text], textarea {
    padding: 0.3rem;
    font-size: 1rem;
    width: 30rem;
    font-family: monospace;
}

/* main > div {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
} */

.center {
    text-align: center;
}

a:link {
    color:#000;
    text-decoration: none;
}
a:visited {
    color:#000;
}
a:hover {
    color:#33F;
}

.microphone {
    position: absolute;
    padding: 0.2rem;
    border-radius: 1rem;
    min-width: auto;
    min-height: auto;
    color: Blue;
}

.microphone-recording {
    color: Red;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.2;
    }
    75% {
        opacity: 0.6;
    }
}

.microphone-blocked {
    color: Gray;
}
